 *{
    background-color: blue;
 }
 
 .banner{
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-size: 1.5em;
    margin: 20px;
   padding: 20px; 
    height:10vh;
   width:10vw; 
   background-color: blue;
 }

  
  img{
    object-fit: cover;
    height:10vh;
   width:10vw;
    
  }
  body{
    background-color: blue;
  } 